<mat-toolbar color="primary">
    <div fxHide.gt-xs><button mat-icon-button (click)="onToggleSidenav()">
            <mat-icon>menu</mat-icon>
        </button></div>
    <div><a routerLink="/"> Covid -19 👻</a> </div>
    <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>
        <ul fxLayout class="navigationbar" fxLayoutGap="10px">
        <!--    <li *ngIf="!isAuth"><a routerLink="/home">Home 🗺 </a></li>
            <li *ngIf="!isAuth"><a routerLink="/countries">Countries </a></li>

-->
        </ul>
    </div>
</mat-toolbar>
