<div fxHide.lt-sm fxLayout fxLayoutAlign="center">
  <mat-card>
    <mat-card-title>About The Developer</mat-card-title>
    <mat-card-header fxLayout="column" fxLayoutAlign="center center">
      <img class="mainimg" mat-card-image src="assets/ayush.jpeg" />
    </mat-card-header>
    <mat-card-content>

      This site was developed by Ayush Mishra who is a student of symbiosis
      University of Applied Sciences, Indore, Madhya Pradesh. He developed this
      website as a full-stack developer And created this single page web
      application using Angular, Angular Material. This Covid-19 Tracker app is
      an single page web application that can be used on any mobile device and
      computer system and is very user friendly. This application helps the user
      to check about the world-wide condition of the Covid-19 cases. The user
      can also select a particular country to get the information . the details
      are also displayed visually by using the charts. this application fulfill
      the agenda of STAY HOME STAY SAFE .<br><br>
      <hr /><br>
      <p style="text-align: center;">
        For More Information Follow on
      </p><br>
      <hr />
      <div fxLayout fxLayoutGap="100px" fxLayoutAlign="center">
        <a href="https://www.linkedin.com/in/ayush-mishra-1803/">
          <img class="imgs" src="assets/linked.png"
        /></a>
        <a href="mailto:ayushmishra0810@gmail.com">
          <img class="imgs" src="assets/gmail.png"
        /></a>
        <a href="https://github.com/ayushmishra1803/">
          <img class="imgs" src="assets/github.png"
        /></a>
        <a href="https://www.instagram.com/__ayush_mishra__/">
          <img class="imgs" src="assets/instagram.png"
        /></a>
      </div>
      <hr>
    </mat-card-content>
  </mat-card>
</div>
<div fxHide.gt-sm fxLayout fxLayoutAlign="center">
  <mat-card>
    <mat-card-title class="headingmob">About The Developer</mat-card-title>
    <mat-card-header fxLayout="column" fxLayoutAlign="center center">
      <img class="mainimgmob" mat-card-image src="assets/ayush.jpeg" />
    </mat-card-header>
    <mat-card-content>

      This site was developed by Ayush Mishra who is a student of symbiosis
      University of Applied Sciences, Indore, Madhya Pradesh. He developed this
      website as a full-stack developer And created this single page web
      application using Angular, Angular Material. This Covid-19 Tracker app is
      an single page web application that can be used on any mobile device and
      computer system and is very user friendly. This application helps the user
      to check about the world-wide condition of the Covid-19 cases. The user
      can also select a particular country to get the information . the details
      are also displayed visually by using the charts. this application fulfill
      the agenda of STAY HOME STAY SAFE .<br><br>
        <hr ><br>
      <p style="text-align: center;">
        For More Information Follow on
      </p><br>
      <hr >
      <div fxLayout fxLayoutGap="20px" fxLayoutAlign="center">
        <a href="https://www.linkedin.com/in/ayush-mishra-1803/">
          <img class="imgs" src="assets/linked.png"
        /></a>
        <a href="mailto:ayushmishra0810@gmail.com">
          <img class="imgs" src="assets/gmail.png"
        /></a>
        <a href="https://github.com/ayushmishra1803/">
          <img class="imgs" src="assets/github.png"
        /></a>
        <a href="https://www.instagram.com/__ayush_mishra__/">
          <img class="imgs" src="assets/instagram.png"
        /></a>
      </div>
      <hr />
    </mat-card-content>
  </mat-card>
</div>
