mat-card-title{
  text-align: center;
 font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 padding: 50px;
 font-size: 80px;

}

.imgs{
  height: 50px;
  width: 50px;
}
.mainimg{
  align-items: center;
  height: 500px;
  width: 400px;
}
.headingmob{
  text-align: center;
 font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 padding: 30px;
 font-size: 20px;
}
.mainimgmob{
   align-items: center;
  height: 400px;
  width: 350px;
}
